django >= 5.2
docutils
requests
dotenv
django_select2
psycopg2
dj-database-url
asyncio
aiohttp
gunicorn
google-genai
beautifulsoup4
pandas
tensorflow
scikit-learn
djangorestframework
strawberry-graphql[cli]
strawberry-graphql-django
django-redis
markdownify