.bg-trans {
    background-color: rgba(0,0,0,0);
    color: rgb(250,250,250);
}

thead, .dark-0 {
    background-color : rgb(30,30,36) !important;
    color : rgb(250,250,250) !important;
}

.dark-1 {
    background-color: rgb(43,42,43);
    color: rgb(250,250,250);
}

.dark-2 {
    background-color: rgb(35,35,35);
    color: rgb(250,250,250);
}

.block-0 {
    background-color: rgb(139,120,109);
    color: rgb(250,250,250);
}

.block-1 {
    background-color: rgb(164,146,138);
    color: rgb(250,250,250);
}

.block-2 {
    background-color: rgb(191,168,158);
    color: rgb(50,50,50);
}

.block-3 {
    background-color: rgb(210,195,180);
    color: rgb(50,50,50);
}

.special-0 {
    background-color: rgb(120,161,187);
}

.special-1 {
    background-color: rgb(235,245,238);
}

tr.yeas {
    background-color: rgb(11,114,14);
    color: rgb(250,250,250);
}

tr.nays {
    background-color: rgb(171,27,27);
    color: rgb(250,250,250);
}

tr.pres {
    color: rgb(250,250,250);
}

tr.novt {
    background-color: rgb(201,154,35);
    color: rgb(250,250,250);
}

tr.dem {
    background-color: rgb(34,76,201);
    color: rgb(250,250,250);
}

tr.rep {
    background-color: rgb(171,27,27);
}

tr.ind {
    background-color: rgb(200,200,200);
    color: rgb(50,50,50);
}

tr.lib {
    background-color: rgb(224,201,11);
    color: rgb(250,250,250);
}

tr.grn {
    background-color: rgb(11,137,11);
    color: rgb(250,250,250);
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.half-plot {
    width: 40%;
}

.full-plot {
    width: 100%;
}

@media only screen and (max-width: 1400px) {
    h1 {
        font-size: 36px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 24px !important;
    }
    h4, summary, label {
        font-size: 20px !important;
    }
    h5, li, th, td, p {
        font-size: 18px !important;
    }
    h6 {
        font-size: 16px !important;
    }
    .half-plot {
        width: 40% !important;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 20px !important;
    }

    h3 {
        font-size: 16px !important;
    }

    h4, summary, label {
        font-size: 14px !important;
    }

    h5, li, th, td, p {
        font-size: 12px !important;
    }

    h6 {
        font-size: 10px !important;
    }
    .half-plot {
        width: 100% !important;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 16px !important;
    }

    h2 {
        font-size: 14px !important;
    }

    h3 {
        font-size: 12px !important;
    }

    h4, summary ,label {
        font-size: 10px !important;
    }

    h5, li ,th, td, p {
        font-size: 8px !important;
    }

    h6 {
        font-size: 6px !important;
    }
    .half-plot {
        width: 100% !important;
    }
}