{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<div class="row align-items-md-stretch">
    <div class="col-md-9">
        <div class="p-4 bg-body-tertiary border rounded shadow-sm mb-4">
            <h2>{{bill}} : {{bill_state_type}}</h2>
            <h5>{{summary | safe}}</h5>
        </div>
        <div class="border dark-0 align-items-center d-flex justify-content-center p-3">
            <h4>Action Timeline</h4>
        </div>
        <div>
            {{actions_table | safe}}
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-4 bg-body-tertiary border rounded position-relative shadow-sm mb-4" style="top: 0rem;">
            <div class="mt-2">
                <h4>Sponsor :</h4>
                {{sponsor | safe}}
                <details>
                    <summary>
                        See Cosponsors
                    </summary>
                    <ul class="list-group p-0 list-group-flush dark-1">
                        {{cosponsors | safe}}
                    </ul>
                </details>
            </div>

            <hr />
            <div class="mt-2">
                <h4>Policy Area :</h4>
                {{policy_area}}
                <details>
                    <summary>
                        See Subjects
                    </summary>
                    <ul class="list-group p-0 list-group-flush dark-1">
                        {{subjects | safe}}
                    </ul>
                </details>
            </div>

            <hr />
            <div class="mt-2">
                <h4>Related Bills</h4>
                <details>
                    <summary>
                        See Related Bills
                    </summary>
                    <ul class="list-group p-0 list-group-flush dark-1">
                        {{related_bills | safe}}
                    </ul>
                </details>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
