{% load static %}
<form name="BillForm" id="id_BillForm" action="bill-search/" method="get">
    <div class="g-0 row align-items-md-stretch">
        <div class="g-0 col">
            {{bill_form.non_field_errors }}
            <h4>Congress Number</h4>
            {{bill_form.congress}}
            <h4>Bill Type</h4>
            {{bill_form.bill_type_2}}
            <br />
            <h4>Subjects</h4>

            <select id="id_bill_subjects" name="bill_subjects" multiple>
                <optgroup label="Bill Subjects">
                    {% for t in bill_form.fields.bill_subjects.queryset %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Geographic Entities">
                    {% for t in bill_form.fields.bill_geo_entities.queryset %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Organizations">
                    {% for t in bill_form.fields.bill_organizations.queryset %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
        </div>
        <div class="g-0 col">
            <h4>Select Bill</h4>
            {{bill_form.bill_num}}
            <input type="submit" value="Search" />
        </div>
    </div>
</form>
<script src="{% static 'scripts/updateBillForm.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>