{% extends "app/layout.html" %}
{% block content %}
{% load static %}
{{ yeas_cnt | json_script:"yeas_cnt" }}
{{ nays_cnt | json_script:"nays_cnt" }}
{{ pres_cnt | json_script:"pres_cnt" }}
{{ novt_cnt | json_script:"novt_cnt" }}
{{ yeas_cnts | json_script:"yeas_cnts" }}
{{ nays_cnts | json_script:"nays_cnts" }}
{{ pres_cnts | json_script:"pres_cnts" }}
{{ novt_cnts | json_script:"novt_cnts" }}
{{ geoids | json_script:"geoids" }}
{{ values | json_script:"values" }}
{{ cloro_text | json_script:"cloro_text" }}

<div class="row mb-2">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
            <div class="col flex-column position-static">
                <div class="p-4">
                    <h2 class="mb-1">{{vote_title}}</h2>
                    <h6 class="mb-2">{{vote_time}}</h6>
                    <h5>
                        {{vote_question}}
                        <br />
                        Result : {{vote_result}}
                    </h5>
                    <hr />
                    <h3><a href="{{bill_link}}" class="link-offset-2">{{bill}} </a></h3>
                    <p>{{bill_title}}</p>
                </div>
            </div>
            <div class="col p-2 d-flex flex-column position-static half-plot">
                <div>
                    <div id="donut"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm position-relative">
            <div class="col p-2 d-flex flex-column position-static half-plot">
                <div id="sunburst"></div>
            </div>
            <div class="col p-2 d-flex flex-column position-static half-plot">
                <div id="bar"></div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="g-0 col border rounded overflow-auto flex-md-col mb-4 shadow-sm p-4 full-plot">
        <div class="row d-flex flex-column position-">
            <form name="CloroChoice" id="id_CloroChoice">
                <div class="d-flex flex-row flex-md-row p-4">
                    <div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow" style="width:100%;height:100px">
                        <label for="{{ cloro_form.cloro_choice.id_for_label }}"> Select Vote Type:</label>
                        <div>{{cloro_form.cloro_choice}}</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col d-flex flex-row overflow-hidden justify-content-center">
            <div id="cloro"></div>
        </div>
    </div>
</div>

<div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm position-relative">
    <table class="table table-bordered table-small dark-1 d-flex flex-column position-static" style="width:25%">
        <thead>
            <tr>
                <th class="border-0">
                    Yeas
                </th>
            </tr>
        </thead>
        <tbody>
            {{yeas_list | safe }}
        </tbody>
    </table>
    <table class="table table-bordered table-small dark-1 d-flex flex-column position-static" style="width:25%">
        <thead>
            <tr>
                <th class="border-0">
                    Nays
                </th>
            </tr>
        </thead>
        <tbody>
            {{nays_list | safe }}
        </tbody>
    </table>
    <table class="table table-bordered table-small dark-1 d-flex flex-column position-static" style="width:25%">
        <thead>
            <tr>
                <th class="border-0">
                    Present
                </th>
            </tr>
        </thead>
        <tbody>
            {{pres_list | safe }}
        </tbody>
    </table>
    <table class="table table-bordered table-small dark-1 d-flex flex-column position-static" style="width:25%">
        <thead>
            <tr>
                <th class="border-0">
                    No Vote
                </th>
            </tr>
        </thead>
        <tbody>
            {{novt_list | safe }}
        </tbody>
    </table>
</div>

<script src="https://cdn.plot.ly/plotly-3.0.0.min.js" charset="utf-8"></script>
<script src="{% static 'scripts/loadSize.js' %}"></script>
<script src="{% static 'scripts/barPlot.js' %}"></script>
<script src="{% static 'scripts/donutPlot.js' %}"></script>
<script src="{% static 'scripts/sunburstPlot.js' %}"></script>
<script type="text/javascript" src="{% static geojson_source %}"></script>
<script type="text/javascript" src="{% static geojson_load %}"></script>
<script src="{% static 'scripts/cloroplethPlot.js' %}"></script>
{% endblock%}
