{% load static %}
<form name="VoteForm" id="id_VoteForm" action="vote-query/" method="get">
    <div class="g-0 row align-items-md-stretch">
        <div class="g-0 col">
            {{vote_form.non_field_errors }}
            <h4>Select Chamber</h4>
            {{vote_form.bill_type}}
            <h4>Start Date</h4>
            {{vote_form.start_date}}
            <br />
            <h4>End Date</h4>
            {{vote_form.end_date}}

            <h4>Subjects</h4>

            <select class="tselect mb-3" id="id_vote_subjects" name="vote_subjects" multiple>
                <optgroup label="Vote Subjects">
                    {% for t in vote_form.fields.bill_subjects.queryset %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Geographic Entities">
                    {% for t in vote_form.fields.bill_geo_entities.queryset %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </optgroup>
                <optgroup label="Organizations">
                    {% for t in vote_form.fields.bill_organizations.queryset %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <input type="submit" value="Search" class="submit_button" />
        </div>
    </div>
</form>