{% load static %}
<form name="MemberForm" id="id_MemberForm" action="results/" method="get">
    <div class="d-flex flex-column flex-md-row p-4 gap-4 align-items-center justify-content-center">
        {{ mem_form.non_field_errors }}
        <div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow block-0" style="width:300px;height:120px">
            <h6>This field is required.</h6>
            <label for="{{ mem_form.congress.id_for_label }}"> Select Congress:</label>
            <div>{{mem_form.congress}}</div>
        </div>
        <div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow block-1" style="width:300px;height:120px">
            <h6>This field is required.</h6>
            <label for="{{mem_form.chamber.id_for_label}}"> Select Chamber:</label>
            <div>{{mem_form.chamber}}</div>
        </div>
        <div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow block-2" style="width:300px;height:120px">
            <h6>This field is optional.</h6>
            <label for="{{mem_form.state.id_for_label}}"> Select State:</label>
            <div>{{mem_form.state}}</div>
        </div>
        <div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow block-3" style="width:300px;height:120px">
            <h6>This field is required.</h6>
            <label for="{{ mem_form.member.id_for_label }}"> Select Representative:</label>
            <div>{{mem_form.member}}</div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-center mb-4">
        <div class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow" style="width:300px;height:60px">
            <input type="submit" value="Search" />
        </div>
    </div>
</form>
<script src="{% static 'scripts/updateMemForm.js' %}"></script>
