{% extends "SenateQuery/layout.html" %}

{% block content %}
{% load static %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2> {{rep_name}}, {{rep_party}}</h2>
            <h3>({{rep_title}}, {{congress_num}}th Congress)</h3>
            <h6><b>{{rep_state}} District {{rep_district}}</b></h6>
            <img src="{{rep_img}}" alt="Senator Image">
            <h6>({{rep_start}} - {{rep_end}})</h6>
            <h6>Office : {{rep_office}} Phone : {{rep_phone}}</h6>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>Votes in this office</h2>
            <p>{{rep_votes}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>Recent Votes</h2>
            <p>{{rep_votes}}</p>
        </div>
    </div>
</div>
{% endblock %}