{% extends "app/layout.html" %}

{% block content %}
{% load static %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="g-0 row h-400 p-4 mb-4 border rounded shadow-sm align-items-md-stretch">
            <div class="col pt-3 position-relative d-flex justify-content-center">
                <img src="{{rep_img}}" alt="Rep Image">
            </div>
            <div class="col pt-3 position-relative">
                <h3>
                    {{rep_name}} [{{rep_party_code}}]
                    <br />
                    {{rep_title}}, {{rep_state}}
                    {% if rep_district %}
                    District {{rep_district}}
                    {% endif %}
                    <br />
                    {{congress_num}}{{congress_suffix}} Congress
                </h3>
                <h6>({{rep_start}} - {{rep_end}})</h6>
            </div>
            <div class="row g-0 align-items-md-stretch">
                <div class="col pt-3 position-relative">
                    <h6>
                        {% if rep_office == None %}
                        <b>No Longer in Office</b>
                        {% else %}
                        Office : {{rep_office}}
                        <br />Phone : {{rep_phone}}
                        {% endif %}
                    </h6>
                </div>
                <div class="col p-3 position-relative">
                    <h6>
                        {% if rep_office != None %}
                        <a href={{rep_url}}>Official Website</a>
                        {% endif %}
                    </h6>
                </div>
            </div>
        </div>
        <div class="g-0 row h-400 p-4 mb-4 border rounded shadow-sm align-items-md-stretch">
            <div class="col position-relative">
                <h2 class="text-center">Term History</h2>
                <details>
                    <summary>Click to View Term History</summary>
                    <ul>
                        {{term_list | safe}}
                    </ul>
                </details>
            </div>
            <div class="col position-relative">
                <h2 class="text-center">Party History</h2>
                <details>
                    <summary>Click to View Party History</summary>
                    <ul>
                        {{party_list | safe}}
                    </ul>
                </details>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="border dark-0 align-items-center d-flex justify-content-center p-3">
            <h2>Votes in this office</h2>
        </div>
        {{vote_table | safe}}
        <div class="pagination">
            <span class="step-links">
                {% if vote_list.has_previous %}
                <a href="?{{urlPath}}page=1">&laquo; first</a>
                <a href="?{{urlPath}}page={{vote_list.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{vote_list.number }} of {{vote_list.paginator.num_pages }}.
                </span>

                {% if vote_list.has_next %}
                <a href="?{{urlPath}}page={{vote_list.next_page_number }}">next</a>
                <a href="?{{urlPath}}page={{vote_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}