{% load static %}
<form name="RepresentativeForm" id="id_RepresentativeForm" action="results/" method="get">
    {{ rep_form.non_field_errors }}
    <div class="row align-items-md-stretch">
        <div class="fieldWrapper col-md-3">
            {{ rep_form.congress_rep.errors }}
            <label for="{{ rep_form.congress_rep.id_for_label }}"> Select Congress:</label>
            <div>{{rep_form.congress_rep}}</div>
        </div>
        <div class="fieldWrapper col-md-3">
            {{ rep_form.state_rep.errors }}
            <label for="id_state_rep"> Select State:</label>
            <div>{{rep_form.state_rep}}</div>
        </div>
        <div class="fieldWrapper col-md-3">
            {{ rep_form.representative.errors }}
            <label for="{{ rep_form.representative.id_for_label }}"> Select Representative:</label>
            <div>{{rep_form.representative}}</div>
        </div>
    </div>
    <input type="submit" value="Search" />
</form>
<script src="{% static 'scripts/updateRepForm.js' %}"></script>