
<form name="RepresentativeForm" id="id_RepresentativeForm" action="rep-results/" method="get">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row align-items-md-stretch">
        <div class="fieldWrapper col-md-3">
            {{ form.congress.errors }}
            <label for="{{ form.congress.id_for_label }}"> Select Congress:</label>
            <div>{{form.congress}}</div>
        </div>
        <div class="fieldWrapper col-md-3">
            {{ form.representative.errors }}
            <label for="{{ form.representative.id_for_label }}"> Select Representative:</label>
            <div>{{form.representative}}</div>
        </div>
    </div>
    <input type="submit" value="Search" />
</form>