{% load static %}
<form name="SenatorForm" id="id_SenatorForm" action="results/" method="get">
    {{ sen_form.non_field_errors }}
    <div class="row align-items-md-stretch">
        <div class="fieldWrapper col-md-3">
            {{ sen_form.congress_sen.errors }}
            <label for="{{ sen_form.congress_sen.id_for_label }}"> Select Congress:</label>
            <div>{{sen_form.congress_sen}}</div>
        </div>
        <div class="fieldWrapper col-md-3">
            {{ sen_form.senator.errors }}
            <label for="{{ sen_form.senator.id_for_label }}"> Select Senator:</label>
            <div>{{sen_form.senator}}</div>
        </div>
    </div>
    <input type="submit" value="Search" />
</form>
<script src="{% static 'scripts/updateSenatorForm.js' %}"></script>
