
<form name="SenatorForm" id="id_SenatorForm" action="sen-results/" method="get">
    {% csrf_token %}
    {{ sen_form.non_field_errors }}
    <div class="row align-items-md-stretch">
        <div class="fieldWrapper col-md-3">
            {{ sen_form.congress.errors }}
            <label for="{{ sen_form.congress.id_for_label }}"> Select Congress:</label>
            <div>{{sen_form.congress}}</div>
        </div>
        <div class="fieldWrapper col-md-3">
            {{ sen_form.senator.errors }}
            <label for="{{ sen_form.senator.id_for_label }}"> Select Senator:</label>
            <div>{{sen_form.senator}}</div>
        </div>
    </div>
    <input type="submit" value="Search" />
</form>
<script>

    const congressField = document.getElementById('id_congress');
    const senatorField = document.getElementById('id_senator');

    congressField.addEventListener('change', updateSenatorChoices);
    function updateSenatorChoices() {
        const congressId = congressField.value;
        const url = `update-senators/${congressId}/`;

        fetch(url)
            .then(response => console.log(response.status) || response.json())
            .then(data => {
                const senatorOptions = data.senators.map(senator => `
                        <option value="${senator.id}">${senator.full_name}</option>
                    `);
                senatorField.innerHTML = `<option value="">Select a senator</option>${senatorOptions.join('')}`;
            });
    }

</script>