{% extends "SenateQuery/layout.html" %}

{% block content %}
{% load static %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>{{senator_short}} {{senator_name}} </h2>
            <h3>({{senator_title}}, {{congress_num}}th Congress)</h3>
            <img src="{{senator_img}}" alt="Senator Image">
            <h6><b>State : {{senator_state}} Party : {{senator_party}}</b></h6>
            <h6>({{senator_start}} to {{senator_end}})</h6>
            <h6>Office : {{senator_office}} Phone : {{senator_phone}}</h6>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>Votes in this office</h2>
            <p>{{senator_votes}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>Recent Votes</h2>
            <p>{{senator_votes}}</p>
        </div>
    </div>
</div>
{% endblock %}