{% extends "SenateQuery/layout.html" %}

{% block content %}
{% load static %}
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>{{senator_short}} {{senator_name}}</h2>
            <p> ({{senator_start}} to {{senator_end}})</p>
            <p></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>Votes in this office</h2>
            <p>{{senator_votes}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-400 p-5 bg-body-tertiary border rounded-3">
            <h2>Recent Votes</h2>
            <p>{{senator_votes}}</p>
        </div>
    </div>
</div>
{% endblock %}